<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>Con_Man_Empresa</servlet-name>
        <servlet-class>Controlador.Con_Man_Empresa_Consulta</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Con_Man_Empresa_Actualizacion</servlet-name>
        <servlet-class>Controlador.Con_Man_Empresa_Actualizacion</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Con_Categorias_Consulta</servlet-name>
        <servlet-class>Controlador.Con_Categorias_Consulta</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Con_Sucursales</servlet-name>
        <servlet-class>Controlador.Con_Sucursales</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Con_Cantones</servlet-name>
        <servlet-class>Controlador.Con_Cantones</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Con_Productos</servlet-name>
        <servlet-class>Controlador.Con_Productos</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Con_Productos1</servlet-name>
        <servlet-class>Controlador.Con_Productos1</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Con_Productos_Bodega</servlet-name>
        <servlet-class>Controlador.Con_Productos_Bodega</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Con_Valores</servlet-name>
        <servlet-class>Controlador.Con_Valores</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Con_Valores2</servlet-name>
        <servlet-class>Controlador.Con_Valores2</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Con_Facturas_Compra</servlet-name>
        <servlet-class>Controlador.Con_Facturas_Compra</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Con_Prod_Factura_Compra</servlet-name>
        <servlet-class>Controlador.Con_Prod_Factura_Compra</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Con_Prod_Factura_Compra2</servlet-name>
        <servlet-class>Controlador.Con_Prod_Factura_Compra2</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Con_Facturas_Ventas</servlet-name>
        <servlet-class>Controlador.Con_Facturas_Ventas</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Con_Prod_Factura_Ventas</servlet-name>
        <servlet-class>Controlador.Con_Prod_Factura_Ventas</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Con_Prod_Transferencias</servlet-name>
        <servlet-class>Controlador.Con_Prod_Transferencias</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Con_Prod_Transferencias2</servlet-name>
        <servlet-class>Controlador.Con_Prod_Transferencias2</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Con_Man_Empresa</servlet-name>
        <url-pattern>/Con_Man_Empresa</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Con_Man_Empresa_Actualizacion</servlet-name>
        <url-pattern>/Con_Man_Empresa_Actualizacion</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Con_Categorias_Consulta</servlet-name>
        <url-pattern>/Con_Categorias_Consulta</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Con_Sucursales</servlet-name>
        <url-pattern>/Con_Sucursales</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Con_Cantones</servlet-name>
        <url-pattern>/Con_Cantones</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Con_Productos</servlet-name>
        <url-pattern>/Con_Productos</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Con_Productos1</servlet-name>
        <url-pattern>/Con_Productos1</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Con_Productos_Bodega</servlet-name>
        <url-pattern>/Con_Productos_Bodega</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Con_Valores</servlet-name>
        <url-pattern>/Con_Valores</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Con_Valores2</servlet-name>
        <url-pattern>/Con_Valores2</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Con_Facturas_Compra</servlet-name>
        <url-pattern>/Con_Facturas_Compra</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Con_Prod_Factura_Compra</servlet-name>
        <url-pattern>/Con_Prod_Factura_Compra</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Con_Prod_Factura_Compra2</servlet-name>
        <url-pattern>/Con_Prod_Factura_Compra2</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Con_Facturas_Ventas</servlet-name>
        <url-pattern>/Con_Facturas_Ventas</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Con_Prod_Factura_Ventas</servlet-name>
        <url-pattern>/Con_Prod_Factura_Ventas</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Con_Prod_Transferencias</servlet-name>
        <url-pattern>/Con_Prod_Transferencias</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Con_Prod_Transferencias2</servlet-name>
        <url-pattern>/Con_Prod_Transferencias2</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <resource-ref>
        <res-ref-name>jdbc/ConexionMysql</res-ref-name>
        <res-type>javax.sql.ConnectionPoolDataSource</res-type>
        <res-auth>Container</res-auth>
        <res-sharing-scope>Shareable</res-sharing-scope>
    </resource-ref>
</web-app>
